{% extends 'base.html' %}
{% block title %}Edit Lot - Vehicle Parking App{% endblock title %}
{% block body %}
    <div><h1 class = "text-center" style="color: #07567d;">Edit Lot</h1></div>
    <div class="container-fluid row justify-content-center">
        <form class="col-5" action="{{url_for('edit_lot', lot_id=lot.id)}}" method="POST">
            <div class="mb-3">
                <label for="locationName" class="form-label">Prime Location Name</label>
                <input type="text" class="form-control" id="locationName" name="locationName" value="{{ lot.prime_location_name }}">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address" value="{{ lot.address }}">
            </div>
            <div class="mb-3">
                <label for="pincode" class="form-label">Pincode</label>
                <input type="text" class="form-control" id="pincode" name="pincode" value="{{ lot.pin_code }}">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price per Hour</label>
                <input type="number" class="form-control" id="price" name="price" value="{{ lot.price }}">
            </div>
            <div class="mb-3">
                <label for="maximumSpots" class="form-label">Maximum Spots</label>
                <input type="number" class="form-control" id="maximumSpots" name="maximumSpots" value="{{ lot.maximum_number_of_spots }}">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Update Lot</button>
                <a class="btn btn-outline-primary m-1" href="{{url_for('home')}}" role="Edit">Cancel</a>
            </div>
        </form>
    </div>
{% endblock body %}

