{% extends 'base.html' %}
{% block title %}Edit Lot - Vehicle Parking App{% endblock title %}
{% block body %}
    <div><h1 class = "text-center" style="color: #07567d;">Release spot</h1></div>
    <div class="container-fluid row justify-content-center">
        <form class="col-5" action="{{url_for('release', spot_id=spot.id)}}" method="POST">
            <div class="mb-3">
                <label for="Spot ID" class="form-label">Spot ID</label>
                <input type="text" class="form-control" id="spotId" name="spot_id" value="{{ spot.id }}" readonly>
            </div>
            <div class="mb-3">
                <label for="Vehicle Number" class="form-label">Vehicle Number</label>
                <input type="text" class="form-control" id="vehicleNumber" name="vehicle_number" value="{{ reservation.vehicle_number }}"> readonly>
            </div>
            <div class="mb-3">
                <label for="Parking Timestamp" class="form-label">Parking Timestamp</label>
                <input type="text" class="form-control" id="parkingTimestamp" name="parking_timestamp" value="{{ reservation.parking_timestamp.strftime('%Y-%m-%d %H:%M:%S') }}" readonly>
            </div>
            <div class="mb-3">
                <label for="Release Timestamp" class="form-label">Release Timestamp</label>
                <input type="text" class="form-control" id="releaseTimestamp" name="release_timestamp" value="{{ current_timestamp.strftime('%Y-%m-%d %H:%M:%S') }}" readonly>
            </div>
            <div class="mb-3">
                <label for="Total Cost" class="form-label">Total Cost</label>
                <input type="text" class="form-control" id="totalCost" name="total_cost" value="{{ total_cost }}" readonly>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Release</button>
                <a class="btn btn-outline-primary m-1" href="{{url_for('home')}}" role="Edit">Cancel</a>
            </div>
        </form>
    </div>
{% endblock body %}