{% extends 'base.html' %}
{% block title %}View Spot Details {% endblock title %}
{% block body %}
    <div><h1 class = "text-center" style="color: #07567d;">View Spot Details</h1></div>
    <div class="container-fluid row justify-content-center">
        <form class="col-5" action="{{url_for('view_spot_details', spot_id=spot.id)}}" method="POST">
            <div class="mb-3">
                <label for="spot_id" class="form-label">Spot Id</label>
                <input type="text" class="form-control" id="spot_id" name="spot_id" value="{{ spot.id }}" readonly>
            </div>
            <div class="mb-3">
            <label for="customer_id" class="form-label">Customer Id</label>
                <input type="text" class="form-control" id="customer_id" name="customer_id" value="{{ spot.reservation.user_id }}" readonly>
            </div>
            <div class="mb-3">
                <label for="vehicle_number" class="form-label">Vehicle Number</label>
                <input type="text" class="form-control" id="vehicle_number" name="vehicle_number" value="{{ spot.reservation.vehicle_number }}" readonly>
            </div>
            <div class="mb-3">
                <label for="reservation_timestamp" class="form-label">Date and Time of Reservation</label>
                <input type="text" class="form-control" id="reservation_timestamp" name="reservation_timestamp" value="{{ spot.reservation.parking_timestamp.strftime('%Y-%m-%d %H:%M') }}" readonly>
            </div>
            <div class="mb-3">
                <label for="estimated_parking_cost" class="form-label">Estimated Parking Cost Till Now</label>
                <input type="text" class="form-control" id="estimated_parking_cost" name="estimated_parking_cost" value="{{ estimated_cost }}" readonly>
            </div>
            <div class="mb-3">
                <a class="btn btn-outline-primary m-1" href="{{url_for('view_spot', spot_id=spot.id)}}" role="View">Cancel</a>
            </div>
        </form>
    </div>
{% endblock body %}


